h1#title {
    text-align: left;
    font-size: 100px;
    font-family: Poppins;
    color: bisque;
    text-shadow: 2px 2px #588da8
}
button.btn {
    border-radius: 30px;
    border-color: white;
    border-width: 5px;
    font-family: Montserrat;
    color: white;
}
button.btn:hover {
    border-radius: 30px;
    border-color: white;
    border-width: 5px;
    font-family: Montserrat;
    color: white;
    box-shadow: 1px 1px 20px gray;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Poppins;
    color: black;
    }

.box {
    background-color: #ffe9c5;
    max-width: 100%;
    max-height: 100%;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    color: black;
    vertical-align: middle;
    font-size: 18px;
    overflow: auto;
    border-radius: 20px;
}
    label {
        font-family: Poppins;
        text-align: left;
        font-size: 30px;
    }
    input.btn {
        width: 200px;
        border-radius: 30px;
        border-color: white;
        border-width: 5px;
        background-color: white;
        font-family: Montserrat;
        color: black;
    }
    input.btn:hover {
        width: 200px;
        border-radius: 30px;
        border-color: white;
        border-width: 5px;
        background-color: white;
        font-family: Montserrat;
        color: black;
        box-shadow: 1px 1px 20px gray;
    }
    input.takeinput {
        border-radius: 20px;
        width: 200px;
        outline:0px;
        -webkit-appearance:none;
        padding-left: 10px;
    }
    input.takeinput:hover {
        outline:0px;
        -webkit-appearance:none;
    }