<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Quarantine Activity List</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- <link th:href="@{styles.css}" rel="stylesheet"> -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
    h1#title {
        text-align: left;
        font-size: 100px;
        font-family: Montserrat;
        font-weight: 900;
        color: black;
        /* -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black; */
        /* text-shadow: 3px 3px #588da8; */
    }
    button.btn {
        border-radius: 30px;
        background-color: #679B9B;
        border-width: 5px;
        font-family: Montserrat;
        color: white;
        width: 500px;
    }
    button.btn:hover {
        border-radius: 30px;
        background-color: #679B9B;
        border-width: 5px;
        font-family: Montserrat;
        color: white;
        box-shadow: 1px 1px 20px gray;
    }</style>
</head>
<body style="background-color: #ffe9c5">
<br><br>
<div class="container">
            <div class="row">
                <div class="col-2">
                    <img th:src="@{clipboard.png}" alt="credits to flaticon" style="size: 10%;">
                    <!-- <img src="../static/clipboard.png" alt="credits to flaticon" style="size: 10%;"> -->
                </div>
                <div class="col-10">
                    <br><br><br><br>
                    <h1 id="title" style="margin-left: 210px;">My Quarantine Activity List</h1>
                    <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center;">
                    <br>
                    <a href="/see-work-activities" style="text-align: center; margin-left: 10px;">
                    <button type="button" class="btn" style="text-align: center;">
                        <h3 style="text-align: center; font-weight: 800;"> See Work/Academic Activities </h3> </button>
                </a></div>
                <div class="col" style="text-align: center;">
                    <br>
                    <a href="/see-lifestyle-activities" style="text-align: center; margin-left: 10px;">
                        <button type="button" class="btn" style="text-align: center;">
                            <h3 style="text-align: center; font-weight: 800;"> See Lifestyle Activities </h3> </button>
                    </a>
                </div>
        </div>
        </div>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>