<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{styles.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
    h1 {
    text-align: center;
    font-size: 40px;
    font-family: Poppins;
    color: black;
    }
    .box {
        background-color: #ffe9c5;
        max-width: 100%;
        max-height: 100%;
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: auto;
        color: black;
        vertical-align: middle;
        font-size: 18px;
        overflow: auto;
        border-radius: 20px;
    }
    label {
        font-family: Poppins;
        text-align: left;
        font-size: 30px;
    }
    input.btn {
        width: 200px;
        border-radius: 30px;
        border-color: white;
        border-width: 5px;
        background-color: white;
        font-family: Montserrat;
        color: black;
    }
    input.btn:hover {
        width: 200px;
        border-radius: 30px;
        border-color: white;
        border-width: 5px;
        background-color: white;
        font-family: Montserrat;
        color: black;
        box-shadow: 1px 1px 20px gray;
    }
    input.takeinput {
        border-radius: 20px;
        width: 200px;
        outline:0px;
        -webkit-appearance:none;
        padding-left: 10px;
    }
    input.takeinput:hover {
        outline:0px;
        -webkit-appearance:none;
    }
    span {
        color: red;
    }
    </style>
</head>

<body style="background-color: #aacfcf">
    <div class="container">
    <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-10" style="text-align: center;">
    <br><br><br>
    <div class="box">
        <h1 style="text-align: center;">Add Work Activity</h1>
        <hr>
        <form th:action="@{/add-work-activity}" th:object="${workActivity}" method="post" style="text-align: center">
            <div class="form-group">
                <label for="activityName">Activity Name</label> <br>
                <input class="takeinput" type="text" th:field="*{activityName}" id="activityName" placeholder="Activity Name"><br>
                <span th:if="${#fields.hasErrors('activityName')}" th:errors="*{activityName}"></span>
            </div>
            <br>
            <label for="dueDate">Due Date</label> <br>
            <input class="takeinput" type="date" th:field="*{dueDate}" id="dueDate" placeholder="Due Date"><br>
            <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span>
            <br><br>
            <label for="dueTime">Due Time</label> <br>
            <input class="takeinput" type="time" th:field="*{dueTime}" id="dueTime" placeholder="Due Time"><br>
            <span th:if="${#fields.hasErrors('dueTime')}" th:errors="*{dueTime}"></span>
            <div class="form-group">
                <br><br>
                <button type="button" class="btn" style="text-align: center;">
                    <input class="btn" type="submit" value="Add Activity"></button>
            </div>
        </form>
    </div>
    </div>
    <div class="col-sm"></div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>