<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        button.btn {
        border-radius: 30px;
        background-color: #679B9B;
        border-width: 5px;
        font-family: Montserrat;
        color: white;
    }
    button.btn:hover {
        border-radius: 30px;
        background-color: #679B9B;
        border-width: 5px;
        font-family: Montserrat;
        color: white;
        box-shadow: 1px 1px 20px gray;
    }
        button.btn#edit {
            border-radius: 30px;
            background-color: #aacfcf;
            border-width: 2px;
            font-family: Montserrat;
            color: black;
        }
        button.btn#finish {
            border-radius: 30px;
            background-color: #aacfcf;
            border-width: 2px;
            font-family: Montserrat;
            color: black;
        }
        button.btn#important {
            border-radius: 30px;
            background-color:#aacfcf;
            border-width: 2px;
            font-family: Montserrat;
            color: black;
        }
        h1#title {
            text-align: left;
            font-size: 70px;
            font-family: Montserrat;
            font-weight: 900;
            color: bisque;
            text-shadow: 2px 2px #588da8;
        }
        table.table.table-bordered.table-hover {
            background-color:#ffe9c5;
            border-color: #588da8;
            border-width: 3px;
            font-family: Poppins;
        }
        th {
            font-size: 25px;
        }
        td {
            font-size: 20px;
        }
        h3 {
            padding-top: 2px;
            font-size: 20px;
        }
    </style>
</head>
<body style="background-color: #aacfcf">
<title>Work Activities</title>
<br><br>
<h1 style="text-align: center" id="title">Work Activities</h1>
<br><br>
<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-4" th:each="workactivity:${WORKACTIVITY}" style="text-align: center; margin-top: 30px;">
        <div class="card" style="width: 18rem; font-family: Poppins; border-radius: 20px; border-width: 1px; border-color: #ffe9c5;">
            <div class="card-body">
            <h6 class="card-subtitle mb-2" th:if="${workactivity.statusId == 1}" style="color: red;">️IMPORTANT❗</h6>
            <h6 class="card-subtitle mb-2" th:if="${workactivity.statusId == 3}" style="color: green;">FINISHED ✅ </h6>
              <h5 class="card-title" style="font-size: 30px;" th:text="${workactivity.activityName}">Work Activity</h5> <hr>
              <span>Due Date: </span><span style="text-align: left; font-size: 15px;" class="card-text" th:text="${workactivity.dueDate}">Time</span><br>
              <span>Due Time: </span><span style="text-align: left; font-size: 15px;" class="card-text" th:text="${workactivity.dueTime}">Duration</span><br>
                <br>
                <div class="row">
                    <div class="col">
                        <a th:href="@{/edit-work-activity/{id}(id=${workactivity.id})}">
                            <button id="edit" type="button" class="btn" style="text-align: center; font-size: 15px;">
                                Edit </button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <br>
                        <a th:href="@{/mark-work-activity-as-finished/{id}(id=${workactivity.id})}">
                            <button id="finish" type="button" class="btn" style="text-align: center; font-size: 15px;">
                                Finished </button></a>
                                <a th:href="@{/mark-work-activity-as-important/{id}(id=${workactivity.id})}">
                                    <button id="important" type="button" class="btn" style="text-align: center; font-size: 15px;">
                                        Important </button></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col" style="text-align: center;">
            <br><br>
                <a href="/add/work-activity" style="text-align: center; margin-left: 10px;">
                    <button type="button" class="btn" style="text-align: center; width: 400px;">Add Work Activity</button>
                </a> <br><br>
                <a href="/" style="text-align: center; margin-left: 10px;">
                    <button type="button" class="btn" style="text-align: center;">Homepage</button>
                </a>
            <br><br>
        </div>
        <div class="col"></div>
    </div>
</div>

<br><br>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>